@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.service-text-h{
	font-family: 'Bebas Neue', cursive;
	background: linear-gradient(to left, #4568dc, #b06ab3);
	color: #f1f1f1;
	padding: 30px;
	font-size: 5rem;
	gap: 10px;
	align-items: center;
	letter-spacing: 5px;

  }

  @media screen and (max-width: 768px) {
	.service-text-h{
		font-size: 0;
	}
  }